.tab-bar {
    background-color: #f7f7f7;
    color: white;
    position: fixed;
    width: 100%;
    padding: 10px 30px 5px 30px;
    bottom: 0;
  /* 44  네비게이션 바 상단에 줄긋기  */ 
    border-top: 1px solid #c1c1c1 ;
/* 11  

   .tab-bar에 플렉 박스를 걸면 그 자식들 요소인 tab-bar__tab에 대해 

  플렉 박스 정렬이 적용 된다.  플렉 박스의 정렬 스타일은  

  justify-content: space-between;을 적용 한다. 

  세부 간격은 패딩으로 조절  */ 

    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    }

    /* 22 이미지와 문자열에 대해 플렉스 정렬 */ 

    .tab-bar .tab-bar__tab {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
         /* 55  네비게이션 색깔 적용 아이콘에 밤색 적용 */ 
         color: #c1c1c1;
    }

    /* 33 display를 block로 설정하지 않으면 */ 

/* 아이콘의 diplay가 default인 inline으로 설정 됨  */ 

.tab-bar .tab-bar__tab i {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    /* 66  아이콘의 크기 24px */
    font-size: 24px;

}

/* 77  선택된 항목 색깔 걸기 */ 

.tab-bar .tab-bar__tab--selected {
    color: #523737;
}